@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@layer base {
  body {
    font-family: "Patrick Hand";
    background: linear-gradient(
      162.56deg,
      #92a8d1 24.58%,
      #f7cac9 72.59%,
      #f9d7d7 99.43%
    );
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
  }
}
